/* HEADER PHP */
html {
    background-color: #f0f0f0; /* */
}
body {
}
.hd {
	background-color:#d5d5d5; /* */
	width:100%;
}
.header-wrap {
	margin:0;
	padding:0;
	list-style: none;
}
.header-wrap li {
	display: inline-block;
}
.header-wrap li a :hover{
	background: #fff; /* */
}
.wrap {
    margin: 0 auto;
    min-width: 600px;
    max-width: 1200px;
    height:70px;
}
.wrap.nav {
    background-color: #e3e3e3; /* */
}
.logo {
	padding:25px;
	height:20px;
	display:inline-block;
	float:left;
}
.logo span {
	font-size: 18px;
	color:black; /* */
}
.nav-wrap li a span{
	padding:25px 20px;
	font-size: 18px;
	height: 20px;
	color: black; /* */
	display: inline-block;
}
.wrap.nav .nav-wrap {
	float: right;
}
.wrap.breadcrumb {
    background-color: skyblue; /* */
    height:30px;
}
.bread-wrap li a span{
	padding:5px 20px;
	font-size: 18px;
	height: 20px;
	color: black; /* */
	display: inline-block;
}
.wrap.breadcrumb .header-wrap {
	float: left;
}

/* INDEX PHP */

.page {
    margin: 0 auto;
    min-width: 600px;
    max-width: 1200px;
    background-color: white;
    height: 800px;
}
.left {
    width: 70%;
    height: 100%;
    float:left;
    display: inline-block;
}
.right {
    width: 30%;
    height: 100%;
    float:right;
    display: inline-block;
}